absl-py
astunparse
bcrypt
cached-property
cachetools
certifi
cffi
charset-normalizer
click
colorama
cycler
Flask
Flask-Cors
flatbuffers
fonttools
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
itsdangerous
Jinja2
joblib
keras
Keras-Preprocessing
kiwisolver
libclang
Markdown
MarkupSafe
matplotlib
mtcnn
numpy
oauthlib
opencv-python
opt-einsum
packaging
Pillow
protobuf
pyasn1
pyasn1-modules
pycparser
pymongo
pyparsing
python-dateutil
requests
requests-oauthlib
rsa
scikit-learn
scipy
six
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-io-gcs-filesystem
termcolor
tf-estimator-nightly
threadpoolctl
typing_extensions
urllib3
Werkzeug
wrapt
zipp
opencv-python-headless==4.5.3.56
